<div class="fluid-container">
	<div class="row">
		<div class="col-md-2" style='background-color: #fff;'>left Sidebar</div>
		<div class="col-md-6 post-contain" style='margin-left: 10px;margin-right: 10px;margin-bottom: 10px;'>
			<div class="row post-form">
				<%= render 'posts/new'%>
			</div>
			<%= render 'posts/index'%>
		</div>
		<div class="col-md-3" style='background-color: #fff;'>Right Sidebar</div>	
	</div>
</div>