.container
  .portfolioContainer
    .col-sm-6.col-lg-3.col-md-4.webdesign.illustrator
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-1"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/1/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.graphicdesign.illustrator.photography
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-2"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/2/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.webdesign.graphicdesign
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-3"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/3/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.illustrator.photography
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-4"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/4/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.graphicdesign.photography
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-5"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/5/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.webdesign.photography
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-6"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/6/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.illustrator.photography.graphicdesign
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-7"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/7/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.graphicdesign.photography.webdesign
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-8"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/1/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.webdesign.illustrator
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-9"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/2/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.photography.graphicdesign
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-10"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/5/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.graphicdesign.photography
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-11"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/6/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
    .col-sm-6.col-lg-3.col-md-4.webdesign.graphicdesign.illustrator
      .gal-detail.thumb
        %a.image-popup{:href => "#", :title => "Screenshot-12"}
          %img.thumb-img{:alt => "work-thumbnail", :src => "https://lorempixel.com/400/280/nature/3/"}/
        %h4.text-center Gallary Image
        .ga-border
        %p.text-muted.text-center
          %small Photography
